Nu95r {
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.fktJzd *,
.fktJzd *:before,
.fktJzd *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
user agent stylesheet div {
  display: block;
  unicode-bidi: isolate;
}
injected stylesheet :root {
  --dark-color: #121418;
  --dark-var-1-color: #222933;
  --dark-var-2-color: #292f37;
  --dark-var-3-color: #8694a6;
  --dark-var-4-color: #9dadc1;
  --green-color: #01c29a;
  --dark-green-color: #0ca385;
  --yellowish-color: #f2e9d0;
  --dark-yellowish-color: #d4ccb6;
  --white-color: #fff;
  --red-color: #ff0000;
  --gradient: linear-gradient(45deg, var(--green-color), var(--red-color));
}
injected stylesheet :root {
  --dark-color: #121418;
  --dark-var-1-color: #222933;
  --dark-var-2-color: #292f37;
  --dark-var-3-color: #8694a6;
  --dark-var-4-color: #9dadc1;
  --green-color: #01c29a;
  --dark-green-color: #0ca385;
  --yellowish-color: #f2e9d0;
  --dark-yellowish-color: #d4ccb6;
  --white-color: #fff;
  --red-color: #ff0000;
  --gradient: linear-gradient(45deg, var(--green-color), var(--red-color));
}
injected stylesheet :root {
  --dark-color: #121418;
  --dark-var-1-color: #222933;
  --dark-var-2-color: #292f37;
  --dark-var-3-color: #8694a6;
  --dark-var-4-color: #9dadc1;
  --green-color: #01c29a;
  --dark-green-color: #0ca385;
  --yellowish-color: #f2e9d0;
  --dark-yellowish-color: #d4ccb6;
  --white-color: #fff;
  --red-color: #ff0000;
  --gradient: linear-gradient(45deg, var(--green-color), var(--red-color));
}
html {
  font-size: 16px;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.fktJzd *,
.fktJzd *:before,
.fktJzd *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.fktJzd *,
.fktJzd *:before,
.fktJzd *:after {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  -webkit-border-radius: 100px;
  background-color: rgba(0, 0, 0, 0);
  width: 9px;
}
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}
::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}
