@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");

* {
  font-family: "Hepta Slab", serif;
  text-decoration: none;
  outline: none;
  margin-top: 0%;
  margin-bottom: 0%;
}

/* Ajustes importados pelo Luiz começam aqui */

/* AJUSTES NECESSARIOS */

nav {
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  background-color: #2f323f; /* Fundo do cabeçalho */
  max-width: 1700px;
  min-width: 700px;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 25px;
}

nav ul li a {
  color: #ffffff; /* Cor do texto do cabeçalho */
  text-transform: uppercase;
  font-size: 14px;
  display: block;
  text-decoration: none;
}

/* Links interativos com cor secundária */
nav ul li a:not(.btn)::after {
  content: "";
  background-color: var(
    --cor-secundaria
  ); /* Cor secundária: links interativos */
  height: 3px;
  width: 0%;
  display: block;
  margin: 0 auto;
  transition: transform 0.3s ease-out;
}

nav ul li a:not(.btn):hover::after {
  width: 100%; /* Animação ao passar o mouse */
  transform: scaleX(1);
  transform-origin: bottom left;
}

.body3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: var(--cor-fundo); /* Fundo principal */
  display: flex;
  flex-direction: column;
}

.body2 {
  background-color: #36373aec;
  border-radius: 10px;
  padding-top: 0.5cm;
  padding-bottom: 0.5cm;
  padding-left: 1.2cm;
  padding-right: 1.2cm;
  max-width: 1400px;
  min-width: 500px;
}

.cabecalhoFixo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.cabecalhoFixo nav a,
.cabecalhoFixo nav div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.2cm;
}

.cabecalhoFixo nav {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1cm;
  width: 90%;
  z-index: +2;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

/* AJUSTES NECESSARIOS */

.cabecalhoBTN li {
  display: flex;
  align-items: center;
  padding-top: 15px;
}

.cabecalhoBTN a:hover {
  color: rgb(184, 184, 184);
}

.cabecalho {
  margin-right: 25px;
}

h1 {
  /* Ajusta a Escrita dentro do Balao */
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: var(--cor-texto);
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: var(--cor-hover);
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  color: var(--cor-hover);
}

h4 {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #38363b;
}

p {
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  flex-direction: column;
  display: block;
}

li {
  margin-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}

.grifado {
  background-color: #5b5d68bb;
  text-decoration: underline; /* Adiciona uma linha abaixo do texto */
  text-decoration-thickness: 1px; /* Ajuste a espessura da linha conforme necessário */
  display: inline-block;
  font-size: 12px;
}

.sobre-mim,
.formacao-text,
.pesquisas-text,
.publicacoes-text,
.doutorado-text,
.atividades-text {
  margin-bottom: 40px;
  margin-top: 40px;
  max-width: 1400px;
  min-width: 500px;
  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
}

/* Ajustes importados pelo Luiz acabam aqui */

/* FUNCIONAMENTO CORRETO - NAO ALTERAR */

.rodape {
  margin: 15px;
}

/* Estilo do banner */
.banner {
  margin-top: 7cm;
  margin-bottom: 2cm;
  display: flex;
  justify-content: center;
}

.banner .banner-text {
  text-align: center;
  padding: 0 90px;
}

.banner .banner-text h1 {
  font-size: 96px;
  color: white;
}

.banner .banner-text p {
  font-size: 20px;
  color: #ffffffb7;
  font-weight: lighter;
  margin: 18px 0;
}

/* Botões de ação */
.btn {
  background-color: var(--cor-secundaria); /* Cor primária: botões de ação */
  color: white; /* Texto branco */
  margin-top: 20px;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  border: 1px var(--cor-borda); /* Cor da borda */
  transition: 1s;
  border: 3px solid rgb(199, 199, 199);
  font-size: 22px;
}

.btn:hover {
  background-color: var(--cor-fundo); /* Cor hover dos botões */
}

.btn_cont {
  margin-top: 2cm;
  border-radius: 15px;
  border: 3px solid rgb(199, 199, 199);
  color: rgb(134, 141, 40);
  font-size: 22px;
  padding: 10px 20px;
  display: inline-block;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  background: transparent;
  transition: 0.3s;
  z-index: 1;
}

.btn_cont::before {
  background-color: rgb(44, 69, 92);
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.3s;
}

.btn_cont::after {
  background-color: rgb(44, 69, 92);
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: -100%;
  left: 0;
  z-index: -1;
  transition: 0.3s;
  transition-delay: 0.3s;
}

.btn_cont:hover {
  color: var(--cor-secundaria);
}

.btn_cont:hover::before {
  top: 0;
}

.btn_cont:hover::after {
  top: 0;
}

a {
  color: #1331d6;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-bottom: 1px;
}

a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover {
  color: #0f0785;
}

@keyframes animate-outline {
  from {
    outline: 0px solid #4f9bf98a;
  }
  to {
    outline: 15px solid #4f9bf98a;
  }
}
/* Mensagem de cookies */

.cookies-msg {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* Mensagem de cookies */
.cookies-msg {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #f1f1f1; /* Mantive essa cor pois não foi especificada na nova paleta */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.cookies-msg.mostrar {
  display: block;
}

.cookies-text p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.cookies-btn button {
  margin-top: 0.3cm;
  padding: 10px 20px;
  font-size: 14px;
  color: #000000;
  background-color: var(--cor-secundaria);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cookies-btn button:hover {
  background-color: var(--cor-fundo);
}

:root {
  --cor-fundo: #575963; /* Fundo em laranja claro */
  --cor-primaria: #e2bd84; /* Cor primária clara */
  --cor-secundaria: #a5960bdc; /* Cor Links interativos laranja */
  --cor-borda: #ffb74d; /* Cor para caixa de fundo laranja */
  --cor-texto: #1a2e88e0; /* Laranja escuro para texto */
  --cor-hover: #1a2e88e0; /* Laranja mais escuro para hover */
}

/* FUNCIONAMENTO CORRETO - NAO ALTERAR */
