/* Importação da fonte Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Definições de @font-face */
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v18/UcCm3FwrK3iLTcvnUwkT9nA2.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

/* Defina suas variáveis de cores aqui */
:root {
  --cor-fundo: #161b33; /* Fundo em azul escuro */
  --cor-fundo-claro: #2a3042; /* Fundo dos blocos de texto */
  --cor-primaria: #597081; /* Preto para títulos e botões */
  --cor-secundaria: #929292b4; /* Azul turquesa para detalhes */
  --cor-borda: #f1dac4; /* Cinza escuro para bordas */
  --cor-texto: #fffefe; /* Cor do texto */
  --cor-hover: #12121359; /* Preto mais escuro para hover */
}

/* Estilo do body */
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: "Inter", Arial, sans-serif;
}

/* Estilos para títulos e links */
h1,
h2,
h3 {
  color: var(--cor-primaria);
}

a {
  color: var(--cor-secundaria);
  text-decoration: none;
}

a:hover {
  color: var(--cor-hover);
}

/* Botões */
button {
  background-color: var(--cor-primaria);
  color: #fff;
  border: 1px solid var(--cor-borda);
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: var(--cor-hover);
}

/* Tabelas */
table,
th,
td {
  border: 1px solid var(--cor-borda);
}

td {
  background-color: var(--cor-fundo);
  padding: 8px;
}

/* Centralização */
.centered-box {
  display: inline-block;
  padding: 20px;
  border: 2px solid var(--cor-borda);
  margin-bottom: 16px;
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto);
}

/* Container para centralização */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo de cada tópico */
.topic-box {
  border: 2px solid var(--cor-borda); /* Borda ao redor dos tópicos */
  padding: 16px; /* Espaçamento interno */
  margin-bottom: 20px; /* Espaçamento entre os tópicos */
  background-color: var(--cor-fundo-claro); /* Cor de fundo para os tópicos */
  color: var(--cor-texto); /* Cor do texto */
}

/* Estilo de texto com quadrados ao redor dos blocos de texto */
.text-box {
  border: 2px solid var(--cor-borda); /* Adiciona uma borda ao redor do texto */
  padding: 16px; /* Adiciona espaçamento interno */
  margin-bottom: 16px; /* Espaçamento entre os elementos */
  background-color: var(
    --cor-fundo-claro
  ); /* Cor de fundo dos blocos de texto */
  color: var(--cor-texto); /* Cor do texto dentro do quadrado */
}
