/* Importação da fonte Inter */
@import url("https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap");

* {
  font-family: "Hepta Slab", serif;
  text-decoration: none;
  outline: none;
}
/* Defina suas variáveis de cores aqui */

:root {
  --cor-fundo: #ebeef1; /* Fundo em azul escuro */
  --cor-fundo-claro: #d9e2ef; /* Fundo dos blocos de texto */
  --cor-primaria: #a5960bdc; /* Preto para títulos e botões */
  --cor-secundaria: #929292b4; /* Azul turquesa para detalhes */
  --cor-borda: #575963; /* Cinza escuro para bordas */
  --cor-texto: #181515; /* Cor do texto */
  --cor-hover: #12121359; /* Preto mais escuro para hover */
}

/* Estilo do body */
body {
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  font-family: "Inter", Arial, sans-serif;
}

/* Estilos para títulos e links */
h1,
h2,
h3 {
  color: var(--cor-primaria);
}

a {
  color: var(--cor-primaria);
  text-decoration: none;
}

a:hover {
  color: var(--cor-hover);
}

button:last-child {
  margin-right: 0; /* Remove o espaçamento do último botão */
}

button:hover {
  background-color: var(--cor-hover);
}

/* Tabelas */
table,
th,
td {
  padding: 25px; /* Espaçamento interno */
  border-radius: 8px; /* Deixa as bordas redondas */
  border: 1.5px solid var(--cor-borda);
  text-align: center; /* Centraliza o texto dentro da tabela */
}

td {
  background-color: var(--cor-fundo-claro);
  padding: 8px;
}

/* Centralização */
.centered-box {
  display: inline-block;
  padding: 20px;
  border: 2px solid var(--cor-borda);
  margin-bottom: 16px;
  background-color: var(--cor-fundo-claro);
  color: var(--cor-texto);
}

/* Container para centralização */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo de cada tópico */
.topic-box {
  border: 1.5px solid var(--cor-borda); /* Borda ao redor dos tópicos */
  padding: 16px; /* Espaçamento interno */
  margin-bottom: 20px; /* Espaçamento entre os tópicos */
  background-color: var(--cor-fundo-claro); /* Cor de fundo para os tópicos */
  color: var(--cor-texto); /* Cor do texto */
  margin: 2cm; /* Distância da borda do site */
  border-radius: 10px; /* Borda arredondada */
}

/* Estilo de texto com quadrados ao redor dos blocos de texto */
.text-box {
  border: 2px solid var(--cor-borda); /* Adiciona uma borda ao redor do texto */
  padding: 16px; /* Adiciona espaçamento interno */
  margin-bottom: 16px; /* Espaçamento entre os elementos */
  background-color: var(
    --cor-fundo-claro
  ); /* Cor de fundo dos blocos de texto */
  color: var(--cor-texto); /* Cor do texto dentro do quadrado */
  margin: 2cm; /* Distância da borda do site */
  border-radius: 10px; /* Borda arredondada */
}

/* Nova classe para centralizar as palavras acima da tabela */
.center-text {
  text-align: center;
}
.table-custom {
  background-color: #9cb0ccd7; /* Cor de fundo da tabela */
}

.table-custom th,
.table-custom td {
  border: 1.5px solid var(--cor-borda); /* Cor da borda */
  padding: 10px; /* Ajuste do espaçamento interno das células */
}

h1 {
  /* Ajusta a Escrita dentro do Balao */
  letter-spacing: 2px;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #0b0d0fd0;
}

h2 {
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: #1542d6;
}

h3 {
  font-weight: 600;
  font-style: normal;
  font-size: 26px;
  color: #1542d6;
}

h4 {
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  color: #38363b;
}

p {
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  flex-direction: column;
  display: block;
}

li {
  margin-bottom: 5px;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.topic-box li {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário */
}
