@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    outline: none;
}

header {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
    background-image: url('img/background-home.jpg'); 
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

section,
footer {
    padding: 54px 0;
}

h3 {
    font-size: 50px;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}

.btn {
    background-color: #4f9cf9;
    color: rgb(0, 0, 0);
    padding: 15px 20px;
    border-radius: 10px;
    display: inline-block;
}

.btn:hover {
    background-color: #3580db;
}

@keyframes animate-outline{
    from{
        outline: 0px solid #4f9bf98a ;
    }
    to{
        outline: 15px solid #4f9bf98a;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px; 
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 25px; 
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    text-decoration: none; 
}

nav ul li a:not(.btn)::after {
    content: "";
    background-color: #4f9cf9;
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}

nav ul li a:hover::after {
    width: 100%; 
}

.banner {
    display: flex;
    justify-content: center;
}

.banner .banner-text {
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}

.banner .banner-text h1 {
    font-size: 96px;
    color: rgb(0, 4, 255);
}

.banner .banner-text p {
    font-size: 20px;
    color: #ff0000;
    font-weight: lighter;
    margin: 18px 0;
}

.sobre .container {
    display: flex;
    align-items: center;
}

.sobre .sobre-text {
    width: 50%;
    padding: 0 40px;
}

.sobre .sobre-text h3{
    margin: 5px 0 10px 0;
}
.sobre .sobre-text p {
    margin: 5px 0 10px 0;
    color: #333;
}
.sobre .sobre-img{
    width: 50%;

}

.cursos .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cursos .cursos-text {
    width: 50%;
    padding: 0 40px;
    text-align: left; 
}

.cursos .cursos-text h3{
    margin: 5px 0 10px 0;
}
.cursos .cursos-text p {
    margin: 5px 0 10px 0;
    color: #333;
}
.cursos .cursos-img{
    width: 50%;
}
.logo{
    height: 140px; 
    object-fit: contain;
}