
/* Importação da fonte Inter */
@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@1..900&display=swap');
/* Adicione suas outras definições de @font-face aqui */

#imagem-banner {
  width: 100%;
  height: 100%;
}

.container_banner div {
  display: grid;
  place-items: center;
}

.container_banner{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 100%;
  position: relative;
}

.banner-text h1 { /* Ajusta a Escrita dentro do Balao */
  display: flex;
  justify-content: center;
  width: 450px;
  height: 40px;
  letter-spacing: 2px;
  margin-bottom: 25px;
  background-color: #ddd4d4;
  padding: 10px 10px;
  border-radius: 10px;
  font-family: "Hepta Slab", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  color: #0b0d0fd0;
  padding-inline: 2%;
  margin-top: 50px;
  margin-bottom: 20px;
}

h2 {
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 26px;
  color: #1542d6;
}

h3 {
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-size: 26px;
  color: #1542d6;
}

h4{
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 100 900;
  font-style: normal;
  font-size: 20px;
  color: #38363b;
}

p {
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  flex-direction: column;
  display: block;
}

li {
  margin-bottom: 5px;
  font-family: "Hepta Slab", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}


.grifado {
  background-color: #5b5d68bb;
  text-decoration: underline; /* Adiciona uma linha abaixo do texto */
  text-decoration-thickness: 1px; /* Ajuste a espessura da linha conforme necessário */
  padding: 1px 2px;
  display: inline-block;
}

.imagem_fundo {
  background-image: url('./index.jpeg/DALL·E\ 2024-10-24\ 23.09.43\ -\ A\ digital\ circuit\ background\ design\ with\ clean\ and\ sharp\ details\,\ showing\ symmetrical\ blue\ circuits\ on\ both\ sides\,\ connected\ by\ thin\ lines\ against\ a\ d.webp');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  resize: both;
}

body {
  display: inline-block;
  font-family: "Hepta Slab", serif; 
  height: 100vh;
  background-color: #2f323f;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.body2 {
  background-color: #0b1642;
  padding-top: 3%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  margin-bottom: 1px;
  border-radius: 10px;
  width: 90%;
}

ul {
  justify-content: space-between;
  list-style-type: none;
  align-items: center;
  padding: 10px;
  font-weight: 900;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 5%;
  margin-bottom: 40px;
  background-color: #ffffff;
  padding: 10px 20px 25px;
  border-radius: 10px;
  display: block;
}

.nav {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding-top: 5px;
}

.nav a{
  transition: all 1s;
  padding: 5px;
}

.nav a:hover{
  background-color: #0b1642; 
  border-radius: 20%;
  box-shadow: inset 0 0 0 2px black;
}

#imagem-logo {
  width: 80px;
  height: 80px;
  margin-left: auto;
}

.CaixaTexto a {
  color: var(--cor-secundaria);
  text-decoration: none;
  font-weight: 700;
  position: relative;
}

a::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentColor;
  transform-origin: bottom right;
  transition: transform 0.5s
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

a:hover {
  color: var(--cor-hover);
}


/* Defina suas variáveis de cores aqui */
:root {
  --cor-fundo: #2f323f; /* Fundo em cinza claro */
  --cor-primaria: #373841; /* ? */
  --cor-secundaria: #1331d6; /* Cor Links interativos */
  --cor-borda: #0b1642; /* Cor para caixa de fundo */
  --cor-texto: #373841; /* Cinza escuro para texto */
  --cor-hover: #373841; /* ? */
}